{% extends "base2.html" %}
{% load static %}
{% load i18n %}
{% load account socialaccount %}
{% block head_title %}{% trans "Sign In" %}{% endblock head_title %}

{% block nav %}
<!-- Top menu -->

<div class="w3-top">
  <div class="w3-bar w3-black w3-card">
    <a class="w3-bar-item w3-button w3-padding-large w3-hide-medium w3-hide-large w3-right" href="javascript:void(0)" onclick="myFunction()" title="Toggle Navigation Menu"><i class="fa fa-bars"></i></a>
    <a href="{% url 'reservas:index_nao' %}" class="w3-bar-item w3-button w3-padding-large" >HOME</a>
    <a href="{% url 'reservas:nos' %}" class="w3-bar-item w3-button w3-padding-large w3-hide-small">NÓS</a>
    <a href="#contact" class="w3-bar-item w3-button w3-padding-large w3-hide-small">CONTATO</a>
    <!-- {% url 'account_login' %} -->
    <a href="#" onclick="document.getElementById('id01').style.display='block'" class="w3-button w3-padding-large w3-hide-small w3-right w3-hover-blue"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-fill" viewBox="0 0 16 16">
      <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3Zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z"/></svg> Entrar</i></a>
       
      <div id="id01" class="w3-modal w3-text-black">
        <div class="w3-modal-content w3-card-4 w3-animate-zoom" style="max-width:600px">
      
          <div class="w3-center w3-container w3-border-top w3-padding-16 w3-light-grey"><br>
            <span onclick="document.getElementById('id01').style.display='none'" class="w3-button w3-xlarge w3-transparent w3-display-topright" title="Close Modal">×</span>
            <img src="{% static 'img/sulli.webp'%}" alt="Avatar" style="width:30%" class="w3-circle w3-margin-top">
          </div>

          
          <br><br>

          <!-- formulario -->
    <!-- pata teste: {% url 'reservas:index' %} -->
    <div class="text-center">
          <form class="login" method="POST" action="{% url 'account_login' %}"> 
            {% csrf_token %}
            {{ form.as_p }}
            <div class="w3-text-black">
            {% if redirect_field_value %}
            <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
            {% endif %}
           </div>
            <!-- <div class="w3-section">
              <label><b>Usuário: </b></label>
              {{ form.login }}
              <label><b>Senha: </b></label>
              {{ form.password }} -->
              <button class="w3-button w3-round-xlarge" type="submit">Entrar</button>
              <br><br>

              <div class="w3-container w3-border-top w3-padding-16 w3-light-grey">
                <a href="{{ signup_url }}" class="w3-button w3-round-large w3-grey w3-left">Criar</a>
               <!-- <a href="{{ signup_url }}" class="w3-button w3-gray w3-section w3-padding">Primeiro acesso?</a> -->
                <span class="w3-right w3-padding w3-hide-small">Esqueceu a <a href="{% url 'account_reset_password' %}">senha?</a></span>
                <span class="w3-right w3-padding w3-hide-small"></span>
        
              </div>
            </div>
          </form>
        </div>
<!-- fim do forms -->

        </div>
      </div>
    </div>

      </div>
                
    </body>
    </html>
   
  </div>
</div>




<!-- 
<h1>{% trans "Sign In" %}</h1>

{% get_providers as socialaccount_providers %}

{% if socialaccount_providers %}
<p>{% blocktrans with site.name as site_name %}Please sign in with one
of your existing third party accounts. Or, <a href="{{ signup_url }}">sign up</a>
for a {{ site_name }} account and sign in below:{% endblocktrans %}</p>

<div class="socialaccount_ballot">

  <ul class="socialaccount_providers">
    {% include "socialaccount/snippets/provider_list.html" with process="login" %}
  </ul>

  <div class="login-or">{% trans 'or' %}</div>

</div>

{% include "socialaccount/snippets/login_extra.html" %}

{% else %}
<p>{% blocktrans %}If you have not created an account yet, then please
<a href="{{ signup_url }}">sign up</a> first.{% endblocktrans %}</p>
{% endif %}

<form class="login" method="POST" action="{% url 'account_login' %}">
  {% csrf_token %}
  {{ form.as_p }}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <a class="button secondaryAction" href="{% url 'account_reset_password' %}">{% trans "Forgot Password?" %}</a>
  <button class="primaryAction" type="submit">{% trans "Sign In" %}</button>
</form> -->

{% endblock nav %}


{% block center %}
<div class="w3-content" style="max-width:1500px;margin-top:46px">

  <!-- Automatic Slideshow Images -->
  <!-- <div class="mySlides w3-display-container w3-center">
    <img src="{% static 'img/show.jpg' %}" style="width:100%">
    <div class="w3-display-bottommiddle w3-container w3-text-white w3-padding-32 w3-hide-small">
      <h3>Los Angeles</h3>
      <p><b>We had the best time playing at Venice Beach!</b></p>   
    </div>
  </div> -->

  <!-- The Band Section -->
  <div class="w3-container w3-content w3-center w3-padding-64" style="max-width:800px" id="band">
    <h2 class="w3-wide">MR</h2>
    <p class="w3-opacity w3-animate-fading"><i>We love music</i></p>
    <p class="w3-justify"> O mundo da música é repleto de momentos inesquecíveis. Cada acorde, cada nota e cada performance se 
        tornam memórias que ecoam na alma dos amantes da música. É a experiência de estar lá, no local, que 
        torna tudo ainda mais especial. O site <strong>MR</strong> entende isso como ninguém e se destaca como um 
        portal especializado em reservas para shows, proporcionando acesso a esses momentos únicos.</p>
</p>
    <div class="w3-row w3-padding-32">
      <div class="w3-third">
        <p>Avicii</p>
        <img src="{% static 'img/Avicii.webp' %}" class="w3-round w3-margin-bottom" alt="Random Name" style="width:60%">
      </div>
      <div class="w3-third">
        <p>Sulli</p>
        <img src="{% static 'img/sul.webp' %}" class="w3-round w3-margin-bottom" alt="Random Name" style="width:60%">
      </div>
      <div class="w3-third">
        <p>Tnbhd</p>
        <img src="{% static 'img/t.webp' %}" class="w3-round" alt="Random Name" style="width:60%">
      </div>
    </div>
  </div>

  <!-- The Tour Section -->
  <div class="w3-black" id="tour">
    <div class="w3-container w3-content w3-padding-64" style="max-width:800px">
      <h2 class="w3-wide w3-center">Ingressos</h2>
      <p class="w3-opacity w3-center w3-animate-fading"><i>Não esqueça de comprar seu ingresso!</i></p><br>

      <ul class="w3-ul w3-border w3-white w3-text-grey w3-panel w3-border w3-round-xlarge">
        <li class="w3-padding">Setembro <span class="w3-tag w3-red w3-margin-left w3-animate-fading">Esgotado</span></li>
        <li class="w3-padding">Outubro <span class="w3-tag w3-red w3-margin-left  w3-animate-fading">Esgotado</span></li>
        <li class="w3-padding">Novembro <span class="w3-badge w3-right w3-margin-right">3</span></li>
      </ul>

      <div class="w3-row-padding w3-padding-32" style="margin:0 -16px">
        <div class="w3-third w3-margin-bottom">
          <img src="{% static 'img/mma.webp' %}" alt="New York" style="width:100%" class="w3-hover-opacity">
          <div class="w3-container w3-white">
            <p><b>Pau dos Ferros</b></p>
            <p class="w3-opacity">Sex 27 Nov 2023</p>
            <p>Imperdível! Venha participar do maior evento do alto oeste, garanta já seu ingresso!</p>
            <br>
            <button class="w3-button w3-black w3-margin-bottom" onclick="document.getElementById('ticketModal').style.display='block'">Comprar ingresso</button>
          </div>
        </div>
        <div class="w3-third w3-margin-bottom">
          <img src="{% static 'img/mma.webp' %}" alt="Paris" style="width:100%" class="w3-hover-opacity">
          <div class="w3-container w3-white">
            <p><b>Portalegre</b></p>
            <p class="w3-opacity">Sab 28 Nov 2023</p>
            <p>Imperdível! Venha participar do maior evento do alto oeste, garanta já seu ingresso!</p>
            <br>
            <button class="w3-button w3-black w3-margin-bottom" onclick="document.getElementById('ticketModal').style.display='block'">Comprar ingresso</button>
          </div>
        </div>
        <div class="w3-third w3-margin-bottom">
          <img src="{% static 'img/mma.webp' %}" alt="San Francisco" style="width:100%" class="w3-hover-opacity">
          <div class="w3-container w3-white">
            <p><b>Umarizal</b></p>
            <p class="w3-opacity">Dom 29 Nov 2023</p>
            <p>Imperdível! Venha participar do maior evento do alto oeste, garanta já seu ingresso!</p>
            <br>
            <button class="w3-button w3-black w3-margin-bottom" onclick="document.getElementById('ticketModal').style.display='block'">Comprar ingresso</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- Ticket Modal -->
  <div id="ticketModal" class="w3-modal">
    <div class="w3-modal-content w3-animate-top w3-card-4">
      <header class="w3-container w3-black w3-center w3-padding-32"> 
        <span onclick="document.getElementById('ticketModal').style.display='none'" 
       class="w3-button w3-red w3-xlarge w3-display-topright">×</span>
        <h2 class="w3-wide"><i class="fa fa-suitcase w3-margin-right"></i>Ingressos</h2>
      </header>
      <div class="w3-container">
        <p><label><i class="fa fa-shopping-cart"></i> Ingressos, R$15 por pessoa</label></p>
        <input class="w3-input w3-border" type="text" placeholder="Quantos?">
        <p><label><i class="fa fa-user"></i> Enviar</label></p>
        <input class="w3-input w3-border" type="text" placeholder="Email">
        <button class="w3-button w3-block w3-black w3-padding-16 w3-section w3-right">Pagar <i class="fa fa-check"></i></button>
        <button class="w3-button w3-red w3-section" onclick="document.getElementById('ticketModal').style.display='none'">Fechar <i class="fa fa-remove"></i></button>
        <p class="w3-right">Precisa de <a href="#" class="w3-text-red">ajuda?</a></p>
      </div>
    </div>
  </div>

  <!-- The Contact Section -->
  <div class="w3-container w3-content w3-padding-64" style="max-width:800px" id="contact">
    <h2 class="w3-wide w3-center">CONTATO</h2>
    <p class="w3-opacity w3-center w3-animate-fading"><i>Dúvidas? Converse com a gente!</i></p>
    <div class="w3-row w3-padding-32">
      <div class="w3-col m6 w3-large w3-margin-bottom">
        <i class="fa fa-map-marker" style="width:30px"></i> Rio grande do norte, RN<br>
        <i class="fa fa-phone" style="width:30px"></i> Telefone: +84 151515<br>
        <i class="fa fa-envelope" style="width:30px"> </i> Email: mariaritha91@mail.com<br>
      </div>
      <div class="w3-col m6">
        <form action="/action_page.php" target="_blank">
          <div class="w3-row-padding" style="margin:0 -16px 8px -16px">
            <div class="w3-half">
              <input class="w3-input w3-border" type="text" placeholder="Nome" required name="Name">
            </div>
            <div class="w3-half">
              <input class="w3-input w3-border" type="text" placeholder="Email" required name="Email">
            </div>
          </div>
          <input class="w3-input w3-border" type="text" placeholder="Mensagem" required name="Message">
          <button class="w3-button w3-black w3-section w3-right" type="submit">Enviar</button>
        </form>
      </div>
    </div>
  </div>
  
<!-- End Page Content -->
</div>
{% endblock center %}
  