{% extends 'base_logado.html' %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<title>W3.CSS</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">


{% block center %}
    
<body>

    <div class="w3-light-grey w3-padding-64 w3-margin-bottom w3-center">
      <h3 class="w3-jumbo">Sulli</h3>
    </div>
    
    <div class="w3-row-padding w3-content" style="max-width:1400px">
      <div class="w3-twothird">
        <img src="{% static 'img/sulli.webp' %}" alt="Notebook" style="width:100%">
        <h2>Empty Notebook Found</h2>
        <div class="w3-justify">
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
      </div>
      <div class="w3-third">
        <div class="w3-container w3-light-grey">
          <h2><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-music-note" viewBox="0 0 16 16">
            <path d="M9 13c0 1.105-1.12 2-2.5 2S4 14.105 4 13s1.12-2 2.5-2 2.5.895 2.5 2z"/>
            <path fill-rule="evenodd" d="M9 3v10H8V3h1z"/>
            <path d="M8 2.82a1 1 0 0 1 .804-.98l3-.6A1 1 0 0 1 13 2.22V4L8 5V2.82z"/>
          </svg> Tudo vai dar certo! <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-music-note-beamed" viewBox="0 0 16 16">
            <path d="M6 13c0 1.105-1.12 2-2.5 2S1 14.105 1 13c0-1.104 1.12-2 2.5-2s2.5.896 2.5 2zm9-2c0 1.105-1.12 2-2.5 2s-2.5-.895-2.5-2 1.12-2 2.5-2 2.5.895 2.5 2z"/>
            <path fill-rule="evenodd" d="M14 11V2h1v9h-1zM6 3v10H5V3h1z"/>
            <path d="M5 2.905a1 1 0 0 1 .9-.995l8-.8a1 1 0 0 1 1.1.995V3L5 4V2.905z"/>
          </svg></h2>
          <p class="w3-justify">Quem, algum dia, não pensou em deixar tudo e ir embora?
            Quem, algum dia, já não quis desistir e sair fora?
            Quem, algum dia, não olhou para o céu e sentiu uma força
            Que nos renova e faz o coração ficar numa boa, numa boa
            Há uma luz que vem pra me dizer: Tudo vai dar certo
            E os inimigos que eu não posso ver não terão mais força
            E as coisas boas que eu imaginar se tornarão vivas
            E os pensamentos positivos serão minha fortaleza
            
            Deixa o amor renascer na sua cabeça e você vai ver o que é Deus
            Deixa o amor renascer na sua cabeça e você vai ver</p>
        </div>
        <br>
        <div class="w3-container w3-light-grey w3-justify">
          <p class="w3-justify">Utilize o poder da sua mente
            Você está expandindo, pensando ilimitado
            A energia presente no universo está disponível para o autointegrado
            Você tem a habilidade nata para vencer
            Criar sua realidade, o que deseja viver
            Saia da caixa do sistema que te faz perecer
            Que controla sua vida e limita o seu poder
            Eleve sua vibração ao ponto de transcender
            O modo de sobrevivência dessa ilusão 3D
            A força que carrega o simples ato de acreditar
            E agir com amor e consistência e ver se manifestar</p>
        </div>
        <br>
        <div class="w3-container w3-light-grey w3-justify">
          <h2><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-music-note-beamed" viewBox="0 0 16 16">
            <path d="M6 13c0 1.105-1.12 2-2.5 2S1 14.105 1 13c0-1.104 1.12-2 2.5-2s2.5.896 2.5 2zm9-2c0 1.105-1.12 2-2.5 2s-2.5-.895-2.5-2 1.12-2 2.5-2 2.5.895 2.5 2z"/>
            <path fill-rule="evenodd" d="M14 11V2h1v9h-1zM6 3v10H5V3h1z"/>
            <path d="M5 2.905a1 1 0 0 1 .9-.995l8-.8a1 1 0 0 1 1.1.995V3L5 4V2.905z"/>
          </svg></h2>
          <p class="w3-justify">Há uma luz que vem pra me dizer: Tudo vai dar certo
            E os inimigos que eu não posso ver não terão mais força
            E as coisas boas que eu imaginar se tornarão vivas
            E os pensamentos positivos serão minha fortaleza</p>
        </div>
      </div>
    </div>
    
    </body>
    </html>
    


{% endblock center %}
    
