{% extends 'base_logado.html' %}
{% load static %}

{% block center %}
<h3 class="m-4 text-center">Listagem</h3>
{% if messages %}
{% for message in messages %}
  <div{% if message.tags %} class=" {{ message.tags }}p-3 text-primary-emphasis bg-primary-subtle border border-primary-subtle rounded-3 m-4 text-center" {% endif %}>
    {{ message }}
  </div>
{% endfor %}
{% endif %}



<div class="container text-center">
    <div class="row row-cols-2 mt-3">
        {% for reserva in reservas %}
        <div class="col-md-4">
            <div class="m-5">
                <div class="card" style="width: 18rem;">
                    <img src="{{ reserva.imagem.url }}">
                    <div class="card-body">
                        <h5 class="card-title">Nome da empresa: <strong>{{ reserva.nome_empresa }}</strong></h5>
                        <p class="card-text"></p>
                        <a href="{% url 'reservas:detalhar' reserva.pk %}" class="btn btn-secondary">ver mais..</a>
                    </div>
                </div>
            </div>
        </div>


        {% empty %}
        <tr>
          <td colspan="4">
            <p>Não existem reservas cadastradas.</p>
          </td>       
           {% endfor %}


    </div>
</div>


<div class="container text-center">
  <div class="row">
    <div class="col">
    </div>

    <div class="col">
      <div class="w3-bar">
        <!-- Primeira página -->
        <a href="?page=1&search={{ request.GET.search }}" class="w3-button {% if page_obj.number == 1 %}active{% endif %}">1</a>
      
        <!-- Página anterior -->
        {% if page_obj.has_previous %}
          <a href="?page={{ page_obj.previous_page_number }}&search={{ request.GET.search }}" class="w3-button">Previous</a>
        {% endif %}
      
        <!-- Páginas do meio -->
        {% for pg in page_obj.paginator.page_range %}
          <!-- Mostra as páginas entre 2 antes e 2 depois da página atual -->
          {% if pg > page_obj.number|add:"-3" and pg < page_obj.number|add:"3" %}
            <a href="?page={{ pg }}&search={{ request.GET.search }}" class="w3-button {% if page_obj.number == pg %}active{% endif %}">{{ pg }}</a>
          {% endif %}
        {% endfor %}
      
        <!-- Próxima página -->
        {% if page_obj.has_next %}
          <a href="?page={{ page_obj.next_page_number }}&search={{ request.GET.search }}" class="w3-button">Next</a>
        {% endif %}
      
        <!-- Última página -->
        <a href="?page={{ page_obj.paginator.num_pages }}&search={{ request.GET.search }}" class="w3-button {% if page_obj.number == page_obj.paginator.num_pages %}active{% endif %}">
          {{ page_obj.paginator.num_pages }}
        </a>
      </div>
      

    </ul>
  </nav>
</div>

    </div>

    <div class="col">
    </div>
  </div>
</div>


{% endblock %}
