*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    height: 200vh;
}

.container{
    max-width: 1200px;
    margin: auto;
}

.flex{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header{
    width: 100%;
    padding: 30px 4%;
   
}

header ul{
    list-style-type: none;
}

header ul li{
    display: inline-block;
    margin: 0 40px;
}

header ul li a{
    color:black;
    text-decoration: none;
}

.btn-contato button{
    border: 0;
    background-color: black;
    color: #fff;
    cursor: pointer;
    transition: .2s;
    padding: 0.5rem 1rem;
    border: none;
    outline: none;
    border-radius: 20px;
    font-size: 0.8rem;
    font-weight: bold;
}

